body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1{
    background-color:rgb(143, 105, 78);
    border: 2px solid rgb(130, 191, 229);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}
h2{
    background-color: cornsilk;
    color: blueviolet;
    border-left: 5px solid red;
}
h3{
    background-color: darkgray;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}
audio{
     margin: 5px;
     padding: 10px;
     width: 95%;
     box-shadow: 5px -5px 20px rgb(98, 13, 96);
     border-radius: 50px;
}
s{
    background-color: brown;
}
h3{
background-color: darkgra;
border-radius: 5px;
}
